body {
  font-size: small;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  /* 1.6em relative to body text */
}

h1,
h2 {
  color: #007e7e;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

#guarantee {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.9;
  padding: 25px;
  margin: 30px;
  /*margin-right: 250px;  this overrules previous one for right margin because it comes later */
  border: thin white dashed;
  background-color: #007e7e;
  /* padding-left: 80px; for background image */
  /*background-image: url("https://media.giphy.com/media/IB9foBA4PVkKA/giphy.gif");
  background-repeat: repeat;*/
}

#elixirs {
  width: 200px;
  border: #007e7e thin solid;
  text-align: center;
  margin-left: 20px;
  padding: 0px 10px 10px 10px;
  background-image: url(https://raw.githubusercontent.com/bethrobson/Head-First-HTML/master/chapter10/lounge-complete/images/cocktail.gif);
  background-repeat: repeat-x;
  line-height: 1;
}
#elixirs h2 {
  color: black;
}

#elixirs h3 {
  color: #d12c47;
}

#copyright {
  font-size: 50%;
  text-align: center;
  line-height: normal;
  margin-top: 30px;
}
.cdtitle {
  font-style: italic;
}
.artist {
  font-weight: bold;
}

#music {
  border-top: 4px dotted grey;
  border-bottom: 4px dotted grey;
  margin-top: 10px;
}

@media print {
  body {
    font-family: webdings, fantasy;
  }
}
